<!DOCTYPE html>
<html>
<head>
    <title>Ejemplo de HTML</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: beige;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1 {
            color: navy;
        }
        p {
            color: gray;
        }
    </style>
</head>
<body>

    <h1>Bienvenido a mi página HTML de ejemplo</h1>

    <p>Este es un párrafo de ejemplo que muestra cómo usar estilos embebidos en un template</p>

    <h2>Lista de frutas</h2>
    <ul>
        <li>Manzana</li>
        <li>Plátano</li>
        <li>Naranja</li>
    </ul>


</body>
</html>
